* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  background: #4b6cb7;
  background: -webkit-linear-gradient(to top, #182848, #4b6cb7);
  background: linear-gradient(to top, #182848, #4b6cb7);
}

body {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Helvetica', sans-serif;
  align-items: center;
}

h1 {
  color: #f4f8f9;
}

button {
  margin: 5px;
  padding: 5px;
  width: 210px;
  background-color: #d8344c;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ba253b;
}

.input-email,
.input-password {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 210px;
}

label {
  text-align: center;
  color: white;
  font-size: 13px;
}
